
<div id="Register" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <a href="~/Views/Shared/PartialPopUpView.cshtml"></a>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <form class="form-horizontal" role="form">
                    <div>
                        <h5 class="bg-success" role="alert" id="topMessage"></h5>
                        <h5 class="alert alert-danger" role="alert" id="RegisterErrMsg" style="display:none"></h5>
                    </div>
                    <div class="col-sm-6 col-lg-12">
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Enter UserName" name="RegisterUserName" id="RegisterUserName">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-asterisk fa-lg"></span>
                            </span>
                            <input type="password" class="form-control" placeholder="Enter Password" name="RegisterPassword" id="RegisterPassword">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-asterisk fa-lg"></span>
                            </span>
                            <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPass" id="confirmPass">
                        </div>

                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                <span  class="fa fa-picture-o fa-lg"></span>
                            </span>
                            <input type="file" class="form-control" name="profile" id="profile">
                        </div>
                        <br />
                        <input type="submit" class="btn btn-default" value="Submit" id="submit" />
                    </div>
                </form>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $("#registerClick").click(function () {
        if ($("#wrapper").hasClass("toggled")) {
            $("#wrapper").removeClass("toggled");
        }
    });

     
        $("#RegisterUserName").focusout(function () {
            $.ajax({
                cache: false,
                type: "GET",
                url: "/Account/validationUserName",
                data: { "username": $("#RegisterUserName").val() },
                success: function (data) {
                    console.log(data);
                    if (data == 'True') {
                        $("#RegisterErrMsg").css('display', 'block');
                        $("#RegisterErrMsg").html('UserName Already Exists');
                        return false;
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#RegisterErrMsg").css('display', 'block');
                    $("#RegisterErrMsg").html('Failed to retrieve UserNames for validation.');
                }
            });
        });
        

        $("#submit").click(function () {


            if ($("#RegisterPassword").val() != $("#confirmPass").val()) {
                $("#RegisterErrMsg").css('display', 'block');
                $("#RegisterErrMsg").html('RegisterPassword and Confirm Password Do not Match');
                return false;
            }

            if ($("#RegisterUserName").val() == '' || $("#RegisterPassword").val() == '' || $("#confirmPass").val() == '') {
                $("#RegisterErrMsg").css('display', 'block');
                $("#RegisterErrMsg").html('All Fields are Required');
                return false;

            }

            if ($("#RegisterUserName").val().length < 8 || $("#RegisterPassword").val().length < 8) {
                $("#RegisterErrMsg").css('display', 'block');
                $("#RegisterErrMsg").html('UserName or Password should be atleast 8 characters');
                return false;
            }
        });
    
</script>